:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark: #2c2c2c;
    --color-light: #f3f3f3;
    --color-darker: #1c1c1c;
    --color-lighter: #fafafa;
    --font-brand: 'Piedra';
}

html, body { height: 100% !important; width: 100% !important; }

.font-brand { font-family: var(--font-brand) !important; }

.bg-wallpaper { background-image: url(../img/wallpaper.png); background-size: cover;}
.bg-dark { background-color: var(--color-dark) !important; }
.bg-darker { background-color: var(--color-darker) !important; }
.bg-black { background-color: var(--color-black) !important; }
.bg-faded { background-color: rgba(28, 28, 28, 0.7); }

.text-discord { color: #7289da; }

.jumbotron-wallpaper {
    background-image: url(../img/wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.perfect-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}