<!DOCTYPE HTML>
<html lang="en_US">

{% include head.html %}

<body class="bg-dark text-light">
    <div class="jumbotron jumbotron-wallpaper">
        <div class="bg-faded text-center rounded">
            <div class="perfect-center">
                <h1 class="display-1 font-brand">{{ site.title }}</h1>
                <p class="lead">Welcome, prehistoric adventurer, to {{ site.title }} official website!</p>
                <p>
                On our website you can find all you need to know about our custom server, the events we run,
                and the features we have to make your life easy! Please come in and make yourself at home!
                </p>
                <a href="/home" class="btn btn-success">Enter {{ site.title }}</a>
            </div>
        </div>
    </div>
</body>
</html>